<%= form_with(model: @appointment, class: 'max-w-3xl mx-auto p-8 bg-white shadow-2xl rounded-xl') do |form| %>
  

  <div class="mb-6">
    <%= form.label :Physician_id, class: 'block text-lg font-medium text-gray-800' %>
    <%= form.collection_select :Physician_id, Physician.all, :id, :name, { prompt: 'Select a physician' }, class: 'mt-2 w-full p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300' %>
  </div>

  <div class="mb-6">
    <%= form.label :Patient_id, class: 'block text-lg font-medium text-gray-800' %>
    <%= form.collection_select :Patient_id, Patient.all, :id, :name, { prompt: 'Select a patient' }, class: 'mt-2 w-full p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300' %>
  </div>

  <div class="mb-6">
    <%= form.label :appointment_date, class: 'block text-lg font-medium text-gray-800' %>
    <%= form.datetime_select :appointment_date, class: 'mt-2 w-full p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300' %>
  </div>

  <div class="mb-6">
    <%= form.label :location, class: 'block text-lg font-medium text-gray-800' %>
    <%= form.text_field :location, class: 'mt-2 w-full p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300' %>
  </div>

  <div class="mb-6">
    <%= form.label :status, class: 'block text-lg font-medium text-gray-800' %>
    <%= form.select :status, ['Scheduled', 'Completed', 'Cancelled'], class: 'mt-2 w-full p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300' %>
  </div>

  <div class="mb-6">
    <%= form.label :notes, class: 'block text-lg font-medium text-gray-800' %>
    <%= form.text_area :notes, class: 'mt-2 w-full p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300' %>
  </div>

  <div class="mb-6">
    <%= form.submit 'Save Appointment', class: 'w-full py-3 bg-blue-600 text-white rounded-lg font-semibold hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300' %>
  </div>
<% end %>
